%h3
  Welcome

- if current_user
  %div
    Pocket Integration : 
    - if current_user.pocket
      %span
        &check;
    - else
      = link_to "Integrate with pocket", user_omniauth_authorize_path(:pocket)
- else
  You are not logged in 