- content_for :title do 'ClipX - Articles' end

#article-index.container
  .left
    - @fetcher_names.each do |fetcher|
      .service
        = fetcher.camelize
  .right
    - @articles.each do |article|
      .article
        = link_to article.title_or_heading, article
        - if article.tags?
          - article.tags = article.tags.sub(',', ', ')
          %p.tag= icon('tag', article.tags)
