= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"
- content_for :title do 'ClipX - Articles' end

#article-index.container
  .left
    .services
      - @fetcher_names.each do |fetcher|
        .service
          = link_to fetcher, article_source_path(fetcher.downcase)
  .right
    - @articles.each do |article|
      .article
        = link_to article.title_or_heading, article
        - if article.tags?
          - article.tags = article.tags.sub(',', ', ')
          %p.tag= icon('tag', article.tags)


%script
  $("#query").typeahead({
  name: "q",
  remote: "/articles/autocomplete?q=%QUERY"
  });
