%p#notice= notice

- content_for :title do @article.title_or_heading end

%article.article-show.type-system-serif
  %h1
    = link_to @article.title_or_heading, @article.url

  != sanitize(@article.content)
