button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button.no-bg {
  @extend button;
  background: none;
  color: $grey-4;

  &:hover {
    color: $hover-button-color-no-bg;
  }
}