<% content_for :title do %>About ClipX<% end %>
<h3>About ClipX</h3>
<p>
ClipX is a content syndication and archival service that combines the best of Pinboard, Dropbox, Evernote, Pocket and several other providers.
</p>
